@font-face {
   font-family: 'Circe';
   src: url('../fonts/circe.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

body {
   font-family: Circe;
}

a {
   color: coral;
   text-decoration: none;
}

a:hover {
   color: rgb(179, 104, 77);
}
