@font-face {
   font-family: 'Circe';
   src: url('../fonts/circe.woff2') format('woff2');
   font-weight: 400;
   font-style: normal;
}

@font-face {
   font-family: 'Plumb Regular';
   src: url('../fonts/plumb-regular.woff2') format('woff2');
}

:root {
   --blue: #2378fc;
   --green: #30bcc9;
   --yellow: #ffc41e;
   --red: #f6404f;
   --ice: #faf3e3;
   --black: #2e373b;
   --pad: 20px;
}

body {
   font-family: Circe;
   background-color: rgb(35, 39, 43);
   color: white;
   margin: 0px;
}

h1 {
   font-family: 'Plumb Regular';
   font-size: 64px;
   letter-spacing: -0.01em;
   margin: 0px;
}

h2 {
   font-family: 'Plumb Regular';
   font-size: 30px;
   line-height: 39px;
}
h3 {
   font-family: 'Plumb Regular';
   font-size: 21px;
   line-height: 27px;
}

a {
   text-decoration: none;
   color: white;
}

.ph1 {
   font-size: 24px;
}

/* Хедер */

.main-header {
   background-image: url('/img/bcg+.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.head-wrapper {
   display: flex;
   max-width: 1560px;
   min-width: 900px;
   height: 89px;
   align-items: center;
   margin: auto;
   padding: 0px var(--pad);
   justify-content: space-between;
}

.line {
   width: 100%;
   height: 1px;
   background-color: white;
}

#logo {
   display: block;
}

#nav-list {
   display: flex;
   max-width: 586px;
   min-width: 400px;
   list-style-type: none;
   padding: 0px 30px;
   margin: 0px;
   flex-grow: 1;
   justify-content: space-between;
}

/* первая секция */

.first-screen h3 {
   margin-top: 0px;
}
.first-screen {
   background-image: url('/img/bcg+.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;

   padding-top: 200px;
   padding-bottom: 53px;
}

.first-screen-wrapper {
   display: flex;
   justify-content: space-between;

   max-width: 1110px;
   min-width: 900px;
   height: 473px;

   margin: auto;
   padding: 0px var(--pad);
}

.h1-wrapper {
}

.tiles-list {
   align-self: flex-end;

   width: 540px;
   height: 353px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-column-gap: 30px;
   grid-row-gap: 30px;

   margin: 0;
   padding: 0;
   list-style-type: none;
}

.tiles-item {
   width: 215px;
   height: 88px;
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 40px;
}

.item1 {
   background-color: var(--blue);
}

.item2 {
   background-color: var(--green);
}

.item3 {
   height: 115px;
   background-color: var(--yellow);
}

.item4 {
   height: 115px;
   background-color: var(--red);
}

/* Куча ссылок */

.side-menu a {
   color: white;
}
.side-menu a:hover {
   color: var(--yellow);
   text-decoration: underline;
}

.side-menu h2 {
   margin-top: 0px;
   margin-bottom: 30px;
}

.side-menu {
   background-color: var(--blue);
   height: 276px;
   padding-top: 75px;
   padding-bottom: 75px;
}

.side-menu__list {
   display: flex;
   justify-content: space-between;
   min-width: 900px;
   max-width: 1110px;
   height: 276px;
   margin: auto;
   padding: 0px var(--pad);
}

.side-menu__item__links {
   margin: 0px;
   list-style-type: none;

   padding-left: 0;
}

.side-link {
   line-height: 22px;
   margin-top: 15px;
}

/* мероприятия */

.events h2 {
   margin: 0px;
}
.events h3 {
   color: var(--red);
   margin-top: 10px;
   margin-bottom: 10px;
}

.events a {
   color: var(--black);
}

#link-to-all {
   font-size: 21px;
   align-self: center;
   text-decoration: underline;
}

.events {
   background-color: var(--yellow);
   color: var(--black);
   height: max-content;

   padding-top: 75px;
   padding-bottom: 57px;
}

.events-head {
   display: flex;
   justify-content: space-between;
   min-width: 900px;
   max-width: 1110px;
   padding: 0px var(--pad);
   margin: auto;
}

.events-list {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
   grid-column-gap: 30px;
   grid-row-gap: 18px;

   min-width: 900px;
   max-width: 1110px;
   margin: auto;
   margin-top: 55px;
   margin-bottom: 0px;

   list-style-type: none;

   padding: 0px var(--pad);
}

.events-item {
   height: 370px;
}

.events-div-img {
   width: 100%;
}

.events-img {
   width: 100%;
   height: auto;
}

.date {
   font-size: 14px;
   margin-top: 12px;
   margin-bottom: 10px;
}

.event-info {
   margin-top: 10px;
   margin-bottom: 0px;
}
